body {
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  color: #1f2667;
}

/* NAVIGATION */

.navigation-area {
  min-height: 70px;
  padding-top: 5px;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-brand h4 {
  padding: 0 0 0 10px;
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  color: #1f2667;
}

.navbar-nav input {
  margin-left: 10px;
}

@media only screen and (max-width: 576px) {
  .navbar-nav input {
    margin: 0 auto;
    width: 300px;
  }
}

/* HEADER AREA */

.jumbotron {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  min-height: 250px;
}

.jumbotron h1 {
  padding-top: 5px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 576px) {
  .jumbotron div {
    padding-top: 10px;
  }
}

/* CONTENT AREA */

.content {
  margin-top: -80px;
  background: white;
}

.table-serial {
  width: 50px;
  font-weight: 700;
  font-size: 1.1em;
}

.table-content {
  max-width: 800px;
}

.table-content-header {
  display: flex;
  justify-content: space-between;
}

.status-badge {
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.9em;
}

.status-active {
  background: #14ac49;
}

.status-inactive {
  background: #bc3921;
}

.table-content-info {
  padding: 10px 0 0 0;
}

.table-content-info tbody {
  margin-bottom: 0;
  padding-bottom: 0;
}

.table-content-info tr td:first-child {
  text-align: left;
  width: 200px;
}

.table-content-info p, .modal-body p {
  padding: 0;
  margin: 0;
}

.table-content-more {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.button-favorite {
  color: #f7665e;
  padding: 2px 5px;
}

.button-favorite:hover {
  color: darkred;
  cursor: pointer;
}


/* MODAL */
@media (max-width: 576px) {
  .modal-dialog.modal-dialog-slideout {
    min-width: 85%;
    max-width: 85%;
  }
}

.modal {
  padding-right: 0 !important;
}

.modal table {
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 auto 0 0;
  background: #fff;
  margin-left: auto;
  margin-right: 0;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  flex-flow: column;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* TOOLTIP */
.MuiTooltip-arrow {
  color: black;
}